*{
    margin:0;
    padding:0;
}

/*Ligt Mode */
:root[color-mode="light"] {
    --body-bg-color- :#f6f8ff ;
    --head-color- :#222731;
    --darklight-color- : #697c9a;
    --search-bg-color-:white;
    --search-color-: #4b6a9b;
    --black:black;
    --follow-color-:#4b6a9b;
    --followTotal-color-:#2b3442;
}

:root[color-mode="dark"] {
    --body-bg-color- :#141d2f ;
    --head-color- :#ffffff;
    --darklight-color- : #1e2a47;
    --search-bg-color-:#1e2a47;
    --search-color-: #ffffff;
    --black:white;
    --follow-bg-color-:#f6f8ff;
    --follow-color-:white;
    --followTotal-color-:#ffffff;
    --social-color-: #ffffff;

}

body{
    background-color: var(--body-bg-color-);
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Libre Franklin" , sans-serif;
    font-family: "Outfit" , sans-serif;
    font-family: "Red Hat Text" , sans-serif;
    font-family: " Space Mono" , monospace;
} 


.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:730px;
    margin-bottom: 25px;
}

.head{
    font-size:26px;
    font-weight: bold;
    color:var(--head-color-);
}

:root[color-mode = "light"] .light--hidden{
    display:none;
}

:root[color-mode = "dark"] .dark--hidden{
    display:none;
}

.color-mode__btn{
    font-size: 13px;
    outline: none;
    background-color: var(--body-bg-color-);
    border:none;
    cursor:pointer;
    color:var(--darklight-color-);
    display: flex;
    align-items: center;
    width:78px;
    justify-content: space-between;

}

.dark img,
.light img{
    width: 20px;
    height:20px;

}

.search{
    height: 69px;
    width:730px;
    background-color: var(--search-info-container-bg-color-);
    border-radius: 15px;
    display: flex;
    align-items:center;
    justify-content: space-between;

}

.searchText{
    display: flex;
    align-items: center;
    height:100%;
}